
<h1 class="text-center">Create User</h1>

<form id="createUser" (ngSubmit)="createUser()" [formGroup]="frmFormulario" class="row g-3">
  <div class="col-md-6">
    <label for="firebase_Id" class="form-label">Firebase Id</label>
    <input type="text" class="form-control" id="firebase_Id" name="firebase_Id" formControlName="firebase_Id" required>
    <div class="form-text text-danger" *ngIf="frmFormulario.get('firebase_Id')?.hasError('required') &&
    frmFormulario.get('firebase_Id')?.touched">firebase_id is required</div>
  </div>
  <div class="col-md-6">
    <label for="names" class="form-label">Names</label>
    <input type="text" class="form-control" id="names" name="names" formControlName="names" required>
    <div class="form-text text-danger" *ngIf="frmFormulario.get('names')?.hasError('required') &&
    frmFormulario.get('names')?.touched">names is required</div>
  </div>
  <div class="col-md-6">
    <label for="surNames" class="form-label">Surnames</label>
    <input type="text" class="form-control" id="surNames" name="surNames" formControlName="surNames" required>
    <div class="form-text text-danger" *ngIf="frmFormulario.get('surNames')?.hasError('required') &&
    frmFormulario.get('surNames')?.touched">surName is required</div>
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" formControlName="email" required>
    <div class="form-text text-danger" *ngIf="frmFormulario.get('email')?.hasError('required') &&
    frmFormulario.get('email')?.touched">email is required</div>
  </div>
  <div class="col-md-6">
    <label for="phone" class="form-label">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" required>
    <div class="form-text text-danger" *ngIf="frmFormulario.get('phone')?.hasError('required') &&
    frmFormulario.get('phone')?.touched">phone is required</div>
  </div>
  <div class="col-md-6">
    <label for="gender" class="form-label">Gender</label>
    <input type="text" class="form-control" id="gender" name="gender" formControlName="gender" required>
    <div class="form-text text-danger" *ngIf="frmFormulario.get('gender')?.hasError('required') &&
    frmFormulario.get('gender')?.touched">gender is required</div>
  </div>
  <div class="col-md-6">
    <label for="state" class="form-label">State</label>
    <select id="state" class="form-select" aria-label="Floating label select example" formControlName="state" name="state">
      <option value="true">Available</option>
      <option value="false">Not Available</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>



