<table class="table">
  <thead>
    <tr>
      <th>user_Id</th>
      <th>firebase_Id</th>
      <th>names</th>
      <th>surNames</th>
      <th>email</th>
      <th>phone</th>
      <th>gender</th>
      <th>state</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.user_Id}}</td>
        <td>{{ user.firebase_Id}}</td>
        <td>{{ user.names }}</td>
        <td>{{ user.surNames }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.state ? 'Available' : 'Not Available' }}</td>
    </tr>
  </tbody>
</table>

