
/* Cuerpo */
.body {
  height: 800px;
  background-size: cover;
  background-position: center;
  color: #1a0707;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: left;
}




